$light-background: hsl(0, 0%, 95%);
$light-element: hsl(0, 0%, 100%);
$light-placeholder: hsl(0, 0%, 52%);
$light-text: hsl(200, 15%, 8%);
$light-primary: #ffa000;
$light-shadow: hsl(43, 12%, 11%);

$dark-background: hsl(207, 26%, 17%);
$dark-element: hsl(209, 23%, 22%);
$dark-placeholder: hsl(208, 16%, 70%);
$dark-text: hsl(0, 0%, 95%);
$dark-primary: #ffc400;
$dark-shadow: hsl(0, 0%, 0%);

@import './components.scss';

@mixin theme($theme) {
	@include button($theme);
	@include navbar($theme);
	@include search($theme);
	@include filter($theme);
	@include card($theme);
	@include detail($theme);
}

$main-font: 'Nunito Sans', sans-serif;

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $main-font;
	margin-top: 8rem;
	transition: all 0.3s ease;

	&.theme--light {
		background-color: $light-background;

		$light-theme: (
			'bg-color': $light-background,
			'element-color': $light-element,
			'placeholder-color': $light-placeholder,
			'text-color': $light-text,
			'primary-color': $light-primary,
			'shadow-color': $light-shadow
		);

		@include theme($light-theme);
	}

	&.theme--dark {
		background-color: $dark-background;

		$dark-theme: (
			'bg-color': $dark-background,
			'element-color': $dark-element,
			'placeholder-color': $dark-placeholder,
			'text-color': $dark-text,
			'primary-color': $dark-primary,
			'shadow-color': $dark-shadow
		);

		@include theme($dark-theme);
	}
}

button {
	border: none;

	&:focus {
		outline: none;
	}
	&:hover {
		cursor: pointer;
	}
}

input {
	border: none;

	&:focus {
		outline: none;
	}
}
select {
	border: none;

	&:focus {
		outline: none;
	}
}

// Globals
.container {
	width: 95%;
	max-width: 90%;
	margin: 0 auto;

	@media (min-width: 768px) {
		max-width: 80%;
	}
}

.section {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.text--semibold {
	font-weight: 600;
}

.hidden {
	display: none;
}

// Filter Container
@media (min-width: 768px) {
	.filter__container {
		display: flex;
		justify-content: space-between;
	}
}

// Card
.card__container {
	@media (min-width: 768px) {
		display: grid;
		gap: 4rem 2rem;
		grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
	}

	@media (min-width: 1445px) {
		gap: 4rem;
	}
}
